.characters {
  padding-bottom: 20px;

  &__img {
    display: block;
    width: 100%;
    width: 600px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 1rem;
  }

  &__form {
    margin-bottom: 60px;
    position: relative;
  }

  &__searchicon {
    position: absolute;
    top: 50%;
    left: 19px;
    z-index: 1;
    transform: translateY(-50%);
  }

  &__filter {
    width: 100%;
    padding: 16px 16px 16px 48px;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 150%;
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
  }

  &__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 20px;
    row-gap: 24px;
  }
}

@media (max-width: 991.98px) {
  .characters {
    &__img {
      width: 450px;
      height: 150px;
    }

    &__form {
      margin-bottom: 30px;
    }
  }
}

@media (max-width: 767.98px) {
  .characters {
    &__img {
      width: 300px;
      height: 100px;
    }

    &__form {
      margin-bottom: 30px;
    }

    &__list {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

@media (max-width: 575.98px) {
  .characters__list {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 449.98px) {
  .characters__list {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 339.98px) {
  .characters {
    &__img {
      width: 210px;
      height: 70px;
    }

    &__form {
      margin-bottom: 30px;
    }
  }
}
