.header {
  padding: 20px 0;

  ul {
    list-style: none;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 1rem;
  }

  &__link {
    text-decoration: none;
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }
}

.active {
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .header {
    padding: 15px 0;
  }
}
