.header {
  padding: 20px 0;

  &__link {
    text-decoration: none;
    color: #000;

    &:hover {
      text-decoration: underline;
    }
  }
}

ul {
  list-style: none;
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 1rem;
}

.active {
  font-weight: 700;
}

@media (max-width: 575.98px) {
  .header {
    padding: 15px 0;
  }
}